# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

** Objectives: **

- Popular languages
- Commonly used libraries 
- Arthitmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scipy
3. Matplotlib

| Data Science Tools |
----------------------
| Apache Hive |
| Jupyter Notebook |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author 
Markus